body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f4f1ea;
    font-family: sans-serif;
}

#viz-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* ref for implementing tooltips: https://www.w3schools.com/howto/howto_css_tooltip.asp*/
.tooltip {
    position: absolute;
    opacity: 0;
    background: rgba(255, 255, 255, 0.95);
    padding: 12px;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-size: 19px;
    max-width: 4000px;
    transition: opacity 0.2s;
    z-index: 10;
    color: #333;
}

.btn {
    position: fixed;
    top: 30px;
    left: 70px; /*changed from 30px to 70 px since had to make sure its inline with instr panel*/
    z-index: 999999;
    padding: 18px 36px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    display: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background 0.2s; /* Add the hover animation */
}

.btn:hover {
    background: #555;
    transform: scale(1.05);
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #888;
    pointer-events: none;
}




.legend-container {
    position: fixed;
    bottom: 32px; /*controls vert position*/
    right: 90px; /*controls horiz position*/
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    z-index: 999;
    display: none;
    /* Hidden by default */
    /* using scale to make it bigger */
    transform: scale(1.5);

    /*grows like resizing img, stays in position */
    transform-origin: bottom right;
}


.legend-title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.legend-circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    opacity: 1; /*changed from 0.5 to 1 since 0.5 was same color as bg of splatter shape*/
    /*now it matches the bubble color exactly*/
}

.legend-label {
    font-size: 13px;
    color: #333;
}


/* ref for learning how to format overlay UI elements: https://www.w3schools.com/howto/howto_css_overlay.asp*/
#detail-panel {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 475px;
    max-height: calc(100vh - 180px); /* so above legend */
    background: #ffffff;
    border-radius: 12px;
    box-shadow: -5px 10px 30px rgba(0,0,0,0.15);
    padding: 25px;
    box-sizing: border-box;
    z-index: 2000; 
    opacity: 0;
    transform: translateX(50px);
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#detail-panel.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
    transition: color 0.2s;
    line-height: 1;
}
.close-btn:hover { color: #333; }

#panel-title { margin: 0 0 5px 0; font-size: 1.6rem; color: #222; line-height: 1.2; }
#panel-artist { margin: 0; font-size: 1.3rem; color: #666; font-style: italic; }

#panel-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f8f8f8;
    min-height: 250px; 
    object-fit: contain;
    border: 1px solid #eee;
}

#panel-details { 
    font-size: 1.5rem; 
    line-height: 1.5; 
    color: #444; 
    border-top: 1px solid #eee; 
    padding-top: 15px; 
}


#info-panel {
    position: fixed;
    top: 150px; 
    left: 70px;
    width: 300px;
    
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    z-index: 999;
    
    display: none; 
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    pointer-events: none; 
}

#info-panel h4 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #333;
}

#info-panel ul {
    padding-left: 20px;
    margin: 0;
}

#info-panel li {
    margin-bottom: 6px;
}

#palette-title {
    position: fixed;
    top: 1150px;
    left: 65%;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
    transition: opacity 0.5s;
    
}

#palette-title h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    margin: 0;
    letter-spacing: 2px;
    color: #222;
}

#palette-title h2 {
    font-family: serif;
    font-style: italic;
    font-size: 2rem;
    margin: 0;
    color: #555;
    font-weight: normal;
}

#palette-title p {
    font-size: 0.9rem;
    color: #888;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}